<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streamer-Client</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body { display: flex; min-height: 100vh; flex-direction: column; }
        main { flex: 1 0 auto; }
    </style>
</head>

<body>

<!-- Header -->
<div th:insert="~{fragments/header :: header}"></div>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <!-- Websocket Connection -->
                    <div class="col s4">
                        <label>WS PRICE</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="websocketSwitch" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="col s4">
                        <label>IRT3TVAF0001</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="IRT3TVAF0001" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="col s4">
                        <label>IRO1FOLD0001</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="IRO1FOLD0001" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table id="priceList" class="striped">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="row">
                    <!-- Websocket Connection -->
                    <div class="col s4">
                        <label>WS TRANSACTION</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="websocketSwitchTransaction" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="col s4">
                        <label>portfolio: 1270</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="portfolio_1270" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="col s4">
                        <label>portfolio: 1271</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="portfolio_1271" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Websocket Connection -->
                    <div class="col s4">
                        <label>BUY</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="BUY" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="col s4">
                        <label>SELL</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="SELL" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <label>IRT3TVAF0001</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="IRT3TVAF0001Transaction" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                    <div class="col s4">
                        <label>IRO1FOLD0001</label>
                        <div class="switch">
                            <label>
                                Off
                                <input id="IRO1FOLD0001Transaction" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table id="transactionList" class="striped">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:insert="~{fragments/footer :: footer}"></div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>

</body>
</html>